* {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(158, 73, 45, 0.65)), to(rgba(47, 23, 15, 0.65))), url(https://startbootstrap.github.io/startbootstrap-business-casual/img/bg.jpg);
  background-image: linear-gradient(rgba(158, 73, 45, 0.65), rgba(47, 23, 15, 0.65)), url(https://startbootstrap.github.io/startbootstrap-business-casual/img/bg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bir {
  width: 100%;
  padding: 2rem 0rem;
}

.bir .text {
  text-align: center;
  padding: 1rem o;
  background-size: 0px;
}

.bir .text span {
  background-size: 0px;
}

.bir .text span b {
  font-size: 32px;
  color: #e6a756;
  background-size: 0px;
}

.bir .text span {
  color: #ffffff;
  font-size: 80px;
  background-size: 0px;
}

.bir .links {
  margin-top: 50px;
  padding: 3rem 0rem;
  background: none;
  position: relative;
  z-index: 34;
}

.bir .links .fon {
  z-index: -1;
  background: none;
  background-color: #2f170fe6;
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
}

.bir .links .link {
  float: right;
  float: left;
  background-size: 0px;
  width: 25%;
}

.bir .links .link .uc {
  float: right;
  background-size: 0px;
}

.bir .links .link .uc a {
  color: #ffffff;
  background-size: 0px;
  font-size: 14.4px;
  text-decoration: none;
}

.bir .links .link .dord {
  float: right;
  background-size: 0px;
}

.bir .links .link .dord a {
  color: #e6a756;
  background-size: 0px;
  font-size: 14.4px;
  text-decoration: none;
}

.bir .links .link .bes {
  float: right;
  margin-right: 60px;
  background-size: 0px;
}

.bir .links .link .bes a {
  color: #ffffff;
  background-size: 0px;
  font-size: 14.4px;
  text-decoration: none;
}

.bir .links .link .iki {
  float: right;
  margin-left: 60px;
  background-size: 0px;
}

.bir .links .link .iki a {
  color: #ffffff;
  background-size: 0px;
  font-size: 14.4px;
  text-decoration: none;
}

.picturebir {
  position: relative;
  padding: 15rem;
  background-image: none;
}

.picturebir img {
  width: 50rem;
  height: 40rem;
  background-image: none;
}

.picturebir .textbir {
  border-radius: 7px;
  padding: 30px 30px 30px;
  background-color: #ffffff;
  text-align: center;
  background-image: none;
  position: absolute;
  bottom: 53rem;
  left: 50rem;
}

.picturebir .textbir b {
  background-image: none;
  color: #212529;
  font-size: 16px;
}

.picturebir .textbir span {
  background-image: none;
  color: #212529;
  font-size: 48px;
}

.picturebir .textiki {
  text-align: center;
  padding: 40px;
  background-image: none;
  background-color: #ffffff;
  border-radius: 8px;
  position: absolute;
  top: 53rem;
  right: 45rem;
}

.picturebir .textiki p {
  background-image: none;
  color: #212529;
  font-size: 16px;
}

.picturebir .textuc {
  border-radius: 7px;
  padding: 30px 30px 30px;
  background-color: #ffffff;
  text-align: center;
  background-image: none;
  position: absolute;
  bottom: 53rem;
  left: 40rem;
}

.picturebir .textuc b {
  background-image: none;
  color: #212529;
  font-size: 16px;
}

.picturebir .textuc span {
  background-image: none;
  color: #212529;
  font-size: 48px;
}

.son {
  z-index: 34;
  margin-top: 80px;
  text-align: center;
  padding: 2rem 0;
  position: relative;
  background-image: none;
}

.son p {
  color: #ffffff4d;
  font-size: 12.8px;
  background-image: none;
}

.son .fonbir {
  z-index: -55;
  background-color: rgba(47, 23, 15, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: none;
}
/*# sourceMappingURL=PRODUCTS.css.map */